<div class="container custom-navbar">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand custom-nav-item title-lg-view" href="/">Matthew Zegar</a>
                <a class="navbar-brand custom-nav-item title-sm-view" href="/">MZ</a>
                <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        {{ range .Site.Menus.main }}
                        <a class="nav-item nav-link custom-nav-item" href="{{ .URL }}">
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                        {{ end }}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
