@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #11131b;
}

.headerImage {
    width: 225px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3) !important;
    border-radius: 1% !important;
    max-width: 100% !important;
    height: auto !important;
}

.custom-navbar {
    padding-top: 2em;
    padding-bottom: 2em;
}

.custom-nav-item {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0.2rem 0 0.2rem;
}

.icon {
    font-size: 25px;
}
