@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

body, h1, h2, h3, h4, h5, a {
    font-family: 'Poppins', sans-serif;
}
a { 
    color: #ffffff;
}

body {
    background-color: #262626;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

iframe {
    padding: 10px 0 10px 0;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
    padding-top: 15px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

code {
    font-family: 'JetBrains Mono';
}

pre {
    padding: 5px;
}

.card {
    margin: 10px 0 15px 0;
    border-radius: 8px;
    background: #404040;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 12px 20px 16px 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.048);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.headerImage {
    width: 220px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3) !important;
    border-radius: 50% !important;
    max-width: 100% !important;
    height: auto !important;
}

.name, time {
    font-weight: 900;
}

.custom-navbar {
    padding-top: 2em;
    padding-bottom: 2em;
}

.custom-nav-item {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0.2rem 0 0.2rem;
    color: #ffffff;
}

.icon {
    font-size: 25px;
}

.title-lg-view{
    display:inline-block;
}

.title-sm-view{
    display:none;
}

@media screen and (max-width: 425px) {
    .title-lg-view{
        display:none;
    }

    .title-sm-view{
        display:inline-block;
    }
}

.thumbnail img {
    height:300px;
    width:400px;
    object-fit: cover;
    float: left;
    padding: 15px 12px;
    display: block;
}

.banner img {
    height:200px;
    width:600px;
    padding: 15px 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}