{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <h2>{{ .Title }}</h2>
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="container card" onclick="location.href='{{ .RelPermalink }}'">
                <h4>{{ .Title }}</h4>
                {{if .Params.author}}
                <span class="name">{{ .Params.author }} </span>
                {{end}}
                {{if .Params.date}}
                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                <time datetime="{{ $dateTime }}"><i class="far fa-clock"></i> {{ .PublishDate.Format $dateFormat
                    }} - {{ math.Round (div (countwords .Content) 220.0) }} min read</time>
                {{end}}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}